    <!-- Comment here, this is our base template -->

    <!DOCTYPE html>
    <html>
        <head>
            <title> Twitoff! </title>
            <!-- add in a style sheet from picnic css-->

            <link rel="stylesheet" href="https://unpkg.com/picnic">
        </head>
        {% block content %}
        <form action="/user" method="post">
            <input type="text" name="user_name" placeholder="User to add">
            <input type="submit" value="Add User">
        </form>

        <body>
        {% endblock %}
            <h1> Twitoff is so cool! </h1>
            <p> Content goes here ... </p>
            <u1>{% for user in users %}
                <li>{{user.name}}</li>
                {% endfor %}
            </u1>
        </body>
    </html>
