[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
basilica = "*"
tweepy = "*"
redis = "*"
psycopg2 = "*"
gunicorn = "*"
scikit-learn = "*"
python-dotenv = "*"
python-decouple = "*"
Flask = "*"
Jinja2 = "*"
Flask-SQLAlchemy = "*"

[requires]
python_version = "3.7"
